extends ../layout/index

block content
    div(style="padding-top: 5rem;")
        h1(style="font-size: 4rem; font-weight: 800; text-align: center; margin-bottom: 10rem;")
            | Lucky
            span(style="font-weight: 400; color: #6366F1;") Notes
        h2(style="font-size: 2rem; font-weight: 800; text-align: center;")=pagina 
        div(style="background-color: #FFFFFF; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); padding: 2rem; border-radius: 0.5rem; max-width: 28rem; margin-left: auto; margin-right: auto; margin-top: 8rem;")
            p(style="padding: 0.5rem 1rem; border-radius: 0.25rem; font-weight: 700; border: 1px solid #000000; text-align: center; width: 100%;", class= error ? 'bg-red-500 text-white' : 'bg-green-500 uppercase')=mensaje
            if !error
                a(style="display: block; text-align: center; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; color: #4B5563; background-color: #6366F1; border: 1px solid #000000; border-radius: 0.25rem; padding: 1rem 0; margin-top: 2.5rem; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; text-decoration: none;", href="/auth/login") You can Log in