extends ../layout/index

block content
  head
    title LuckyNotes 
    link(rel='stylesheet' href='/css/tailwind.css')
  main(style='max-width: 64rem; margin-left: auto; margin-right: auto;')
    div(style='padding-top: 5rem;')
      h1(style='text-align: center;')
        img(src='https://i.postimg.cc/9QVpjXs8/2.png' style='width: 400;')
      div(style='background-color: #112E29; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); padding: 2rem; border-radius: 0.5rem; max-width: 28rem; margin-left: auto; margin-right: auto; margin-top: 8rem;')
        p(style='display: block; text-align: center; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; color: #112E29; background-color: #0CA58A; border: 1px solid #000000; border-radius: 0.25rem; padding: 1rem 0; margin-top: 2.5rem; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; text-decoration: none;' ) You now can Login in your Account