extends ../layout/index

block content
  div(style="padding-top: 5rem;")
    h1(style="font-size: 4rem; font-weight: 800; text-align: center; margin-bottom: 10rem;")
      | Lucky
      span(style="font-weight: 400; color: #6366F1;") Notes
    h2(style="font-size: 2rem; font-weight: 800; text-align: center;")= pagina 

    if errores
      div(style="max-width: 28rem; margin: auto; margin-top: 10rem;" role="alert")
        each error in errores 
          p(style="background-color: #EF4444; color: #FFFFFF; text-transform: uppercase; font-size: 0.75rem; text-align: center; padding: 0.5rem 0; margin-bottom: 0.25rem; font-weight: 700;")= error.msg

    div(style="margin-top: 8rem; margin-left: auto; margin-right: auto; max-width: 28rem;")
      div(style="background-color: #FFFFFF; padding-top: 2rem; padding-bottom: 8rem; padding-left: 4rem; padding-right: 4rem; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); border-radius: 0.5rem;")
        form(style="display: flex; flex-direction: column; gap: 1rem;", method="POST", action="reset_password", autocomplete="off", novalidate="")
          div(style="display: flex; flex-direction: column;")
            label(style="font-size: 0.875rem; text-transform: uppercase; color: #9CA3AF; font-weight: 700; margin-bottom: 0.5rem;", for="email") Email
            input#email(style="width: 100%; border: 1px solid #9CA3AF; padding: 0.5rem 1rem; border-radius: 0.25rem; margin-bottom: 1rem; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);", type="email", placeholder="Ingresa tu email", name="email", value=usuario ? usuario.email : "")
          div
            input(style="width: 100%; background-color: #6366F1; cursor: pointer; border: 1px solid #000000; border-radius: 0.25rem; padding: 1rem 0; color: #FFFFFF; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;", type="submit", value="restablecer credencial")
          div(style="display: flex; align-items: center; justify-content: space-between;")
            a(style="color: #3B82F6; text-decoration: underline;", href="/auth/registro") Don't have an account ?