extends ../layout/index

block content
  main(style='max-width: 64rem; margin-left: auto; margin-right: auto; margin-top: 5rem;')
  div(style='padding-top: 5rem;')
    h1(style=' text-align: center;')
      img(src='https://i.postimg.cc/9QVpjXs8/2.png' style='width: 400;')
    h2(style='font-size: 2rem; font-weight: 800; text-align: center;')
    div(style='margin-top: 8rem; margin-left: auto; margin-right: auto; max-width: 28rem;')
      div(style='background-color: #112E29; padding-top: 2rem; padding-bottom: 8rem; padding-left: 4rem; padding-right: 4rem; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); border-radius: 0.5rem;')
        form(style='display: flex; flex-direction: column; gap: 1rem;' method='POST' autocomplete='off' novalidate='')
          div(style='display: flex; flex-direction: column;')
            label(style='font-size: 0.875rem; text-transform: uppercase; color: #9CA3AF; font-weight: 700; margin-bottom: 0.5rem;' for='password') Password
            input#password(style='width: 90%; border: 1px solid #9CA3AF; padding: 0.5rem 1rem; border-radius: 0.25rem; margin-bottom: 1rem; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);' type='password' placeholder='Password' name='password')
          div(style='display: flex; flex-direction: column;')
            label(style='font-size: 0.875rem; text-transform: uppercase; color: #9CA3AF; font-weight: 700; margin-bottom: 0.5rem;' for='repeat_password') Repeat your password
            input#repeat_password(style='width: 90%; border: 1px solid #9CA3AF; padding: 0.5rem 1rem; border-radius: 0.25rem; margin-bottom: 1rem; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);' type='password' placeholder='Repeat your password' name='repeat_password')
          div
            input(style='width: 100%; background-color: #0CA58A; cursor: pointer; border: 1px solid #000000; border-radius: 0.25rem; padding: 1rem 0; color: #FFFFFF; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;' type='submit' value='restablecer credencial')
          div(style='display: flex; align-items: center; justify-content: space-between;')
