extends ../layout/index

block content
    div.py-5 
        h1.text-4xl.font-extrabold.text-center.my-10 Lucky
            span.font-normal.text-indigo-500 Notes
        h2.text-center.text-2xl.font-extrabold= pagina 

        if errores
            div(class="max-w-md mx-auto my-10" role="alert")
                    each error in errores 
                        p(class="bg-red-600 text-white uppercase text-xs text-center p-2 mb-1 font-bold")= error.msg

        div.mt-8.mx-auto.max-w-md
            div.bg-white.py-8.px-4.shadow.shadow-black.rounded
                form.space-y-4(Method = "POST" autocomplete="off" novalidate) 
                    div
                        label.block.text-sm.uppercase.text-gray-400.mb-2.font-bold(for="password") Password
                        input#password.w-full.border.border-gray-400.p-2.rounded.mb-4.shadow.shadow-black(type="password" placeholder = "Password" name="password")
                    div
                        label.block.text-sm.uppercase.text-gray-400.mb-2.font-bold(for="repeat_password")
                        input#repeat_password.w-full.border.border-gray-400.p-2.rounded.mb-4.shadow.shadow-black(type="password" placeholder="Repeat your password" name="repeat_password")    
                    div 
                        input(class="w-full bg-indigo-600  cursor-pointer border border-black rounded hover:bg-indigo-700 shadow py-3 text-white active:bg-white active:text-black" type="submit" value="restablecer credencial")
                    div.flex.items-center.justify-between 

                        
                        
        
        



