extends ../layout/index

block content
  div(class="py-5")
    h1(class="text-4xl font-extrabold text-center my-10")
      | Lucky
      span(class="font-normal text-indigo-500")
        | Notes
    h2(class="text-center text-2xl font-extrabold")= pagina
    p(class="text-xl font-bold text-center my-10")= mensaje

//- block scripts 
//-   script.
//-     const tempo = 5000;
//-     console.log("tempo: ", tempo);
//-     setTimeout(() => {
//-       window.location.href = "/auth/login";
//-     }, tempo);
