extends ../layout/index

block content
  div(style="padding-top: 5rem;")
    h1(style="font-size: 4rem; font-weight: 800; text-align: center; margin-bottom: 10rem;")
      | Lucky
      span(style="font-weight: 400; color: #6366F1;") Notes
    h2(style="font-size: 2rem; font-weight: 800; text-align: center;")= pagina 
    p(style="font-size: 1.5rem; font-weight: 700; text-align: center; margin-top: 10rem;")= mensaje
