<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title LuckyNotes | #{title}	
    link(rel="stylesheet", href="/css/tailwind.css")
    block styles

  body(style="background-color: #DFC592;")
    main(style="max-width: 64rem; margin-left: auto; margin-right: auto; margin-top: 5rem;")
      block content
    block scripts