doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title LuckyNotes | #{title}	
    link(rel="stylesheet", href="/css/tailwind.css")
    block styles

    body.bg-grey-400   
      main.container.mx-auto.mt-20
        block content
      block scripts 

